.u-section-1 {
  background-image: none;
  min-height: 649px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 649px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 589px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 649px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 50px 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 31px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 78px;
  height: 78px;
  background-image: none;
  margin: 42px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 580px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    height: 459px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 37px;
    padding-right: 37px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 300;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 387px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 70.59% 50%;
    min-height: 387px;
  }

  .u-section-1 .u-image-1 {
    height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 412px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px 30px 10px;
  }

  .u-section-1 .u-image-1 {
    height: 386px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 768px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 422px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 606px;
  animation-duration: 1000ms;
  margin: 70px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 570px;
  margin: -516px auto 15px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 103px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 364px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 2px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 170px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 19px 15px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 170px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  margin: 20px 3px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 170px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 253px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-image-1 {
    width: 441px;
    height: 488px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 529px;
    margin-top: -410px;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    width: 231px;
    margin-top: -532px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(67, 69, 231) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-image-1 {
    height: 523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -197px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-2 .u-image-1 {
    height: 290px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -91px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-image-1 {
  width: 1271px;
  height: 1351px;
  margin: -447px 570px 0 -701px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: -791px -33px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 121px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -17px 30px 0 -30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-3 .u-icon-1 {
  height: 111px;
  width: 111px;
  margin: -12px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  margin: 20px 3px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 71px 10px 30px;
}

.u-section-3 .u-icon-2 {
  height: 111px;
  width: 111px;
  margin: -52px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 19px 0 0;
}

.u-section-3 .u-image-2 {
  width: 1961px;
  height: 83px;
  margin: -183px 570px 0 -1391px;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: -319px -600px 60px 600px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-3 .u-image-1 {
    width: 441px;
    height: 488px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 529px;
    margin-top: -439px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-3 .u-image-2 {
    width: 940px;
    height: 40px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -276px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-image-1 {
    height: 523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 147px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 31px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -267px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 23px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -259px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 290px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -250px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 771px;
}

.u-section-4 .u-image-1 {
  width: 533px;
  height: 567px;
  margin: 23px 37px 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 570px;
  margin: -510px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: 0 30px 0 -30px;
}

.u-section-4 .u-text-2 {
  margin-left: -30px;
  margin-right: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-4 .u-icon-1 {
  height: 111px;
  width: 111px;
  color: rgb(185, 193, 204) !important;
  margin: -12px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  margin: 20px 3px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-4 .u-icon-2 {
  height: 111px;
  width: 111px;
  color: rgb(185, 193, 204) !important;
  margin: -12px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  margin: 20px 3px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 194px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-4 .u-image-1 {
    width: 441px;
    height: 488px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 529px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(67, 69, 231) !important;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-4 .u-image-1 {
    height: 523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 184px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-4 .u-image-1 {
    height: 290px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -305px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 116px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 853px;
}

.u-section-5 .u-text-1 {
  margin: 4px 53px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 226px;
}

.u-section-5 .u-image-1 {
  width: 725px;
  height: 639px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 126px;
    margin-right: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 635px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 300px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 413px;
}

.u-section-6 .u-shape-1 {
  width: 299px;
  height: 299px;
  margin: 63px auto 0 125px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: -206px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 41px 0 0;
}

.u-section-6 .u-shape-2 {
  width: 115px;
  height: 115px;
  margin: -56px 14px 22px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -207px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: 476px;
    height: 476px;
    margin-top: 223px;
    margin-left: 41px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -367px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    width: 431px;
    height: 431px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    height: 311px;
    width: 311px;
    margin-top: 202px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -226px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 82px;
  }

  .u-section-6 .u-shape-2 {
    width: 100px;
    height: 100px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 909px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-7 .u-image-1 {
  width: 131px;
  height: 265px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 24px 25px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-7 .u-image-2 {
  width: 194px;
  height: 265px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  width: 257px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 432px;
}

.u-section-7 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-7 .u-image-3 {
  width: 74px;
  height: 267px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  width: 173px;
  margin: 19px auto 0;
}

.u-section-7 .u-layout-wrap-2 {
  width: 745px;
  margin: 53px auto 60px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 434px;
}

.u-section-7 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-7 .u-image-4 {
  width: 269px;
  height: 265px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  margin: 26px 15px 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 434px;
}

.u-section-7 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 10px;
}

.u-section-7 .u-image-5 {
  width: 73px;
  height: 256px;
  margin: 0 auto 0 125px;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  margin: 35px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    min-height: 190px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-7 .u-image-1 {
    height: 266px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 241px;
    margin-right: 0;
    margin-left: 82px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 241px;
    margin-left: 82px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-7 .u-image-3 {
    height: 268px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 241px;
    margin-left: 82px;
  }

  .u-section-7 .u-layout-wrap-2 {
    position: relative;
    min-height: 190px;
    margin-top: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 356px;
  }

  .u-section-7 .u-image-4 {
    height: 266px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 241px;
    margin-right: 0;
    margin-left: 82px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 356px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 241px;
    margin-right: 0;
    margin-left: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 204px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    width: 187px;
    height: 256px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 204px;
    width: 187px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 204px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 720px;
    margin-top: 137px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 204px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 2278px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 2239px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 2239px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 2239px;
  }

  .u-section-7 .u-layout-wrap-2 {
    min-height: 2278px;
    width: 540px;
    margin-top: -1964px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 2239px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 2239px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 1225px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 1186px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 1186px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 1186px;
  }

  .u-section-7 .u-layout-wrap-2 {
    min-height: 1225px;
    width: 340px;
    margin-top: -911px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 1186px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 1186px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 416px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 803px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  width: 887px;
  margin: 28px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 809px;
}

.u-section-9 .u-group-1 {
  width: 710px;
  min-height: 582px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 80px auto 60px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  font-weight: 800;
  margin: 46px -2px 0 3px;
}

.u-section-9 .u-form-1 {
  height: 368px;
  margin: 20px 42px 0 46px;
}

.u-section-9 .u-form-group-1 {
  width: 100%;
}

.u-section-9 .u-form-group-2 {
  width: 100%;
}

.u-section-9 .u-form-group-3 {
  width: 100%;
}

.u-section-9 .u-form-group-4 {
  width: 100%;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 609px;
    margin-top: 65px;
  }

  .u-section-9 .u-form-1 {
    width: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 486px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 90px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 65px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-9 .u-group-1 {
    min-height: 583px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 45px 10px 30px;
  }
}